body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #B31942, #FFFFFF,#0A3161);
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;

    /* Silver metallic gradient */
    border-color: linear-gradient(
        145deg,
        #f5f5f5 0%,
        #dcdcdc 20%,
        #bfbfbf 40%,
        #e8e8e8 60%,
        #a6a6a6 80%,
        #f0f0f0 100%
    );

    /* Silver border */
    border: 5px solid #c0c0c0;

    /* Shine + depth */
    box-shadow:
        inset 0 2px 8px rgba(255,255,255,0.7),
        inset 0 -3px 10px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.3);
}


h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #000000;
}


.form-grid {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
}

.box{
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 8px;
    background-color: none;
    text-align:center;
    text-decoration: dotted;
    text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.5);
    
}

.box.text{
    background:none;
}

label {

    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

input[type="text"] {
    width: 90%;
    
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #000000;
    margin-top: 4px;
    background:-moz-linear-gradient(top, #ff0000, #0048ff);
}

input[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #07090e6c;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #16325c;
}

.result {
    margin-top: 25px;
    padding: 20px;
    border-radius: 8px;
    border: 4px solid #ffffff;
    background-color: #001b74;
}

.result h3 {
    margin: 8px 0;
    color: #ffffff;
}
.predict-btn {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background-color: #07090e6c;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.predict-btn:hover {
    background-color: #16325c;
    transform: scale(1.02);
}
